body{
    margin: 15px;
    font-family: Arial, Helvetica, sans-serif;
}
.header {
    margin: 5px;
    background-color:rgb(139, 144, 148);
}
.nav {
    margin: 5px;
    display: flex;
    justify-content: space-between;
}
.h-left {
    margin: 5px;
}
ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    
}
li {
    margin: 5px;
   
}
li>a {
    text-decoration: none;
}
.jumbotron {
    display: flex;
    justify-content: space-between;

}
.j-image>img {
    width: 300px;
}
.main {
    display:flex;
    gap: 10px;
}
.about >h3   {
    color: aqua;
    font-size: 18px;
    background-color: rgb(68, 41, 5);
}
   
.mission >h3{
    color: aqua;
    font-size: 18px;
    background-color: rgb(68, 41, 5);
}
.vision >h3{
    color: aqua;
    font-size: 18px;
    background-color: rgb(68, 41, 5);
}

#submit {
    margin-top: 10px;
}
#button {
    background-color: green;
    padding: 3px;
    display: block;
}